/*VARIABLES*/
:root {}

/*RESET*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
}

/*GENERAL*/
body {
  line-height: 1.5;
}

/*COMPONENTS*/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
